.field_holder {
  padding-left:10px;
  padding-right:20px;
  margin:6px 0px 0px 0px;
  input[type="text"], input[type="password"], textarea, table {
    &.input-large {
      width:100%;
    }
  }
}
.field_label_holder {
  padding:5px 10px 0px 10px;
  label, p {
      margin:0;
      padding:0;
      font-weight: bold;
      cursor:default;
      .user-select(none);
  }
  label {
    width:auto;
    display:inline-block;
  }
  .required {
    color:red;
    font-weight: bold;
  }
  .alert-error {
      margin-top:10px;
  }
}
.accordion-group {
    background:@groupBackgroundColor;
    border-color:@groupBorderColor;
    margin-bottom: 6px;
    ul {
        margin:0px 0px 5px 0px;
        padding:0;
        display:inline-block;
        list-style:none;
        li {
            float:left;
            margin-right:10px;
            label {
                margin:0;
                input {
                    margin-right:5px;
                }
            }
        }
    }
}
#categories {
  ul {
    li {
      clear:both;
    }
  }
}
