#create_controls {
  label {
    float:left;
    margin-right:10px;
    padding:4px 0px;
  }
  a {
    float:left;
  }
  select {
    float:left;
    margin-right:10px;
  }
}
.accordion-group {
  a {
    &.choose-file-button {
      margin-bottom:9px;
    }
  }
}
#media_chooser_modal {
  width:970px;
  height:620px;
  margin:-350px 0 0 -485px;
  .modal-body {
    max-height:none;
    iframe {
      width:940px;
      height:535px;
      border:none;
    }
  }
}
.field_holder {
  .rich-text-asset-button {
    margin-bottom:10px;
  }
  .choose-file-button {
    float:left;
    clear:both;
  }
  .media-asset-thumbnail {
    float:left;
    clear:both;
    background:@white;
    .border-radius(4px);
    padding:5px;
    border:1px solid @tableBorder;
    width:140px;
    text-align:center;
    margin-bottom:15px;
    img {
      margin-bottom:5px;
    }
    ul {
      margin:0;
      li {
        font-size:10px;
        margin:0;
        word-wrap:break-word;
        width:130px;
        line-height:1.3em;
      }
    }
  }
}
