#create_controls {
  label {
    float:left;
    margin-right:10px;
    padding:4px 0px;
  }
  a {
    float:left;
  }
  select {
    float:left;
    margin-right:10px;
  }
}
.accordion-group {
  a {
    &.choose-file-button {
      margin-bottom:9px;
    }
  }
}
#media_chooser_modal {
  width:970px;
  height:620px;
  margin:-350px 0 0 -485px;
  .modal-body {
    max-height:none;
    iframe {
      width:940px;
      height:535px;
      border:none;
    }
  }
}
#textarea-modal {
  width:970px;
  height:620px;
  margin:-350px 0 0 -485px;
  z-index:1049;
  .modal-body {
    max-height:none;
    ul {
      margin:0px 0px 5px 0px;
      list-style:none;
      display:inline-block;
      li {
        float:left;
        margin-right:5px;
      }
    }
    textarea {
      width:930px;
      height:482px;
    }
    .textarea-controls {
      
    }
  }
}
.field_holder {
  .textarea-controls {
    li {
      margin-right:5px;
    }
  }
  .choose-file-button {
    float:left;
    clear:both;
  }
  .media-asset-thumbnail {
    float:left;
    clear:both;
    background:@white;
    .border-radius(4px);
    padding:5px;
    border:1px solid @tableBorder;
    width:140px;
    text-align:center;
    margin-bottom:15px;
    img {
      margin-bottom:5px;
    }
    ul {
      margin:0;
      li {
        font-size:10px;
        margin:0;
        word-wrap:break-word;
        width:130px;
        line-height:1.3em;
      }
    }
  }
  input[type="checkbox"] {
    margin:0 0 10px 0;
  }
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
  background:url("images/bg.gif") @off-white;
}
#entries_filter_form {
  margin-bottom:0px;
  ul {
    margin:0;
    li {
      label {
        margin:4px 0px 0px 0px;
      }
      select, input {
        margin-bottom:0;
      }
      select {
        width:auto;
        max-width:220px;
        min-width:180px;
      }
    }
  }
}
