#create_controls {
  label {
    float:left;
    margin-right:10px;
    padding:4px 0px;
  }
  a {
    float:left;
  }
  select {
    float:left;
    margin-right:10px;
  }
}
.accordion-group {
  a {
    &.choose-file-button {
      margin-bottom:9px;
    }
  }
}
#media_chooser_modal {
  width:970px;
  height:620px;
  margin:-350px 0 0 -485px;
  .modal-body {
    max-height:none;
    iframe {
      width:940px;
      height:535px;
      border:none;
    }
  }
}
