#login_form_holder {
  background:@off-white;
  border:1px solid @group-border-color;
  padding:30px;
  .border-radius(8px);
  margin-top:200px;
  form {
    margin:0;
    &.form-horizontal {
      .control-label {
        width:auto;
      }
      .controls {
        margin:0;
        float:right;
      }
    }
  }
  .alert {
    &.alert-error {
      ul {
        margin:0;
        list-style:none;
      }
    }
  }
}
#login-control-group {
  margin:0;
  .controls {
    width:100%;
    label {
      color:@grayLight;
      width:auto;
      float:left;
    }
  }
}
