#thumbnails_form {
  margin:0;
}
ul {
  &.thumbnails {
    margin:0;
    margin-left:-2%;
    width:100%;
    li {
      width:14.666%;
      margin:0 0 15px 2%;
      a {
        text-decoration:none;
        color:@textColor;
      }
      .thumbnail {
        text-align:center;
        background:@white;
        height:140px;
        position:relative;
        img {
          max-height:83px;
        }
        ul {
          position:absolute;
          bottom:6px;
          text-align:center;
          list-style:none;
          width:130px;
          margin:4px 0px 0px 0px;
        }
        li, label, p {
          font-size:10px;
          line-height:1.5em;
          width:100%;
          word-wrap:break-word;
          margin:0;
          cursor:pointer;
        }
        &:hover {
          border-color:lighten(@linkColor, 30%);
        }
      }
    }  
  }
}
#preview_modal {
  width:952px;
  margin:-380px 0px 0px -476px;
  .modal-body {
    overflow:visible;
    max-height:none;
    text-align:center;
    img {
      max-width:935px;
      max-height:600px;
    }
    ul {
      margin:10px 0px 0px 0px;
      list-style:none;
      font-size:11px;
      li {
        line-height:1.5em;
      }
    }
  }
}
#media_chooser_modal {
  width:952px;
  height:676px;
  margin:-338px 0 0 -476px;
  .modal-body {
    max-height:none;
    iframe {
      width:922px;
      height:590px;
      border:none;
    }
  }
}
#media_chooser_upload_button {
  margin-bottom:14px;
}
.media-chooser {
  .modal-backdrop {
    background-color:@white;
  }
  #upload_modal {
    top:370px;
  }
  .pagination {
    float:left;
    width:100%;
    margin-top:5px;
    margin-bottom:0;
  }
}
