#thumbnails_form {
  margin:0;
}
ul {
  &.thumbnails {
    margin:0;
    margin-left:-1%;
    width:100%;
    li {
      width:14.666%;
      margin:0 0 15px 2%;
      a {
        text-decoration:none;
        color:@textColor;
      }
      .thumbnail {
        text-align:center;
        background:@white;
        height:150px;
        img {
          max-height:86px;
        }
        ul {
          text-align:center;
          list-style:none;
          width:120px;
          margin:4px 0px 0px 0px;
        }
        li, label, p {
          font-size:10px;
          line-height:1.3em;
          width:100%;
          word-wrap:break-word;
          margin:0;
          cursor:pointer;
        }
        &:hover {
          border-color:@linkColor;
        }
      }
    }  
  }
}
#preview_modal {
  width:630px;
  margin:-380px 0px 0px -315px;
  .modal-body {
    overflow:visible;
    max-height:none;
    text-align:center;
    img {
      max-width:600px;
      max-height:530px;
    }
    ul {
      margin:10px 0px 0px 0px;
      list-style:none;
      font-size:11px;
      li {
        line-height:1.5em;
      }
    }
  }
}
#media_chooser_modal {
  width:952px;
  height:640px;
  margin:-320px 0 0 -476px;
  .modal-body {
    max-height:none;
    iframe {
      width:922px;
      height:555px;
      border:none;
    }
  }
}
#media_chooser_thumbnails_list {
  height:439px;
  margin-left:-2%;
  li {
    .thumbnail {
      height:130px;
      img {
        margin-bottom:5px;
      }
    }
  }
}
#media_chooser_upload_button {
  margin-bottom:14px;
}
.media-chooser {
  .modal-backdrop {
    background-color:@white;
  }
  #upload_modal {
    top:370px;
  }
}
