#content_container {
  &.templates {
    overflow:visible;
  }
}
#template-browser {
  position:absolute;
  left:20px;
  top:170px;
  bottom:10px;
  right:81%;
  overflow:auto;
  background:@white;
  border:solid 1px @baseBorderColor;
  padding:4px;
  .btn-primary {
    margin-top:5px;
    margin-bottom:22px;
  }
  ul {
    list-style:none;
    margin:0;
    background:@white;
    li {
      &.active {
        background:lighten(@baseColor, 50%);
        &.unsaved {
          background:lighten(@red, 28%);
        }
      }
      &.unsaved {
        background:lighten(@red, 35%);
      }
      a {
        display:block;
        padding:3px 6px;
        &:hover {
          text-decoration:none;
          color:@linkColor;
        }
      }
      .chevron {
        display:block;
        float:left;
        width:15px;
        height:15px;
        margin-right:2px;
        background:url('images/chevron-sprite-sheet-white.png') no-repeat;
      }
      &.in {
        .chevron {
          background-position:-15px;
        }
      }
      .group-header {
        font-weight:bold;
        background:@baseColor;
        color:@white;
        padding:3px 6px;
        border-bottom:1px solid darken(@baseColor, 5%);
        border-top:1px solid lighten(spin(@baseColor, 5),3%);
        h3 {
          float:left;
          margin:0;
          font-size:14px;
          line-height:19px;
        }
        a {
          padding:0;
        }
        ul {
          &.controls {
            background:none;
            li {
              float:left;
              margin-left:3px;
            }
          }
        }
      }
    }
  }
}
#template-view {
  position:absolute;
  left:20%;
  right:20px;
  top:170px;
  bottom:10px;
  .tab-content {
    position:absolute;
    left:0;
    right:0;
    top:42px;
    bottom:0;
    overflow:visible;
    #editor {
      margin:0;
      padding:0;
      border:none;
      .border-radius(0);
      position:absolute;
      left:0;
      right:0;
      top:30px;
      bottom:0;
    }
    #settings-pane {
      .field-holder {
        float:left;
      }
    }
  }
}
#preview-link-holder {
  position:absolute;
  right:0;
  top:4px;
  .preview-url, input, a {
    float:left;
    display:inline-block;
    margin-left:5px;
    font-size:11px;
  }
  input {
    padding:0;
    width:130px;
  }
  p {
    line-height:22px;
  }
}
