#group_pane, #template_pane {
  overflow:auto;
  ul {
     margin:0;
     padding:0;
     list-style:none;
     font-size:14px;
     li {
       padding:6px 8px 8px 8px;
     }
  }
}
#group_pane_controls, #template_pane_controls {
  margin-top:10px;
}
#group_pane {
  float:left;
  background:@white;
  width:20%;
  height:500px;
  border:solid 1px @group-border-color;
  ul {
    cursor:pointer;
    li {
	    &.selected {
	      background: lighten(@linkColor, 45%);
	    }
	    i {
	    	width:16px;
	    }
    }
  }
}
#group_pane_controls {
  float:left;
  width:20%;
}
#template_pane {
  float:right;
  background:@white;
  width:79%;
  height:500px;
  border:solid 1px @group-border-color;
  ul {
    cursor:pointer;
    .selected {
      background: lighten(@linkColor, 45%);
    }
  }
}
#template_pane_controls {
  float:right;
  width:79%;
}