#template-browser {
  position:absolute;
  left:20px;
  top:20px;
  bottom:20px;
  right:81%;
  overflow:auto;
  .btn-primary {
    margin-top:5px;
    margin-bottom:22px;
  }
  ul {
    list-style:none;
    margin:0;
    background:@white;
    li {
      &.active {
        background:lighten(@baseColor, 50%);
      }
      &.unsaved {
        background:red;
      }
      a {
        display:block;
        padding:3px 6px;
        &:hover {
          text-decoration:none;
          color:@linkColor;
        }
      }
      .group-header {
        font-weight:bold;
        background:@baseColor;
        color:@white;
        padding:3px 6px;
        h3 {
          float:left;
          margin:0;
          font-size:13px;
          line-height:19px;
        }
        a {
          padding:0;
          i {
            margin-top:2px;
          }
        }
      }
    }
  }
}
#template-view {
  position:absolute;
  left:20%;
  right:20px;
  top:20px;
  bottom:20px;
  .tab-content {
    position:absolute;
    left:0;
    right:0;
    top:54px;
    bottom:0;
    overflow:visible;
    #editor {
      margin:0;
      padding:0;
      border:none;
      .border-radius(0);
      position:absolute;
      left:0;
      right:0;
      top:0;
      bottom:0;
    }
  }
}
#create-template-modal {
  label {
    font-weight:bold;
  }
  input[type="text"] {
    &.input-large {
      width:520px;
    }
  }
  .alert {
    margin-bottom:10px;
  }
}
