@textColor:#444;

@baseColor:#25826d;

@baseBorderColor:#DDD;

@pageBackgroundColor:#ecf0f1;

@linkColor:@baseColor;
@linkColorHover:darken(@linkColor, 10%);
@linkColorDisabled:#333;
@btnPrimaryBackground:lighten(@baseColor,18%);
@btnPrimaryBackgroundHighlight:darken(@btnPrimaryBackground, 9%);

@navbarBackgroundColor:#323636;
@navbarHighlightColor:lighten(spin(@navbarBackgroundColor, 8), 3%);

@dropdownMenuBackgroundColor:@navbarBackgroundColor;
@dropdownMenuHoverBackgroundColor:#47525b;

@breadcrumbBarBackgroundColor:@baseColor;
@breadcrumbBarTextColor:lighten(spin(@baseColor, 5), 25%);
@breadcrumbBarLinkColor:@breadcrumbBarTextColor;

@navbarLinkColor:darken(@white, 30%);
@navbarLinkHoverColor:@white;

@titleBarBackgroundColor:#63c4b0;
@actionBarBackgroundColor:darken(spin(@pageBackgroundColor, 10), 4%);

@white: #FFF;
@red: #F00;
@groupBackgroundColor: darken(spin(@pageBackgroundColor, 10), 2%);
@groupBorderColor: darken(@groupBackgroundColor, 5%);

@tableBorderColor: #DDD;
@tableHeaderColor: #2C2C2C;
@errorBorderColor: #B94A48;

@templateItemBackgroundColor: #EEE;
@templateItemBorderTopColor: #FFF;
@templateItemBorderBottomColor: #DDD;
