@linkColor:#08e;
@grayDark:#333;
@textColor:@grayDark;
@red:#F00;


@off-white: #FCFCFC;
@grayLight: #999;  
@grayLighter: #EEE;
@white: #FFF;
@gray: #555;
@tableBorder: #DDD;
@navBarStrip: #0088CC;
@group-color: #F1F1F1;
@group-border-color: #E5E5E5;
@table-header-color: #2C2C2C;
@errorBorder: #B94A48;
