{% comment %}
	The following modal fragment is hidden by default. Add data-toggle="modal" and href="#alert_modal" to an anchor tag to show it.
{% endcomment %}

<div id="alert-modal" class="modal" style="display:none;">
	<div class="modal-header">
		<button class="close" data-dismiss="modal">×</button>
		<h3>Alert</h3>
	</div>
	<div class="modal-body">
		<p>{{ modal_message }}</p>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" data-dismiss="modal">OK</button>
	</div>
</div>
