{% comment %}
	The following modal fragment is hidden by default. Add data-toggle="modal" and href="#confirm_delete_modal" to an anchor tag to show it.
	Must also add the following to the javascript in the footer:
	$("#confirm_delete_modal").modal().modal("hide");
{% endcomment %}

<div id="confirm_delete_modal" class="modal" style="display:none;">
	<div class="modal-header">
		<button class="close" data-dismiss="modal">×</button>
		<h3>Confirm Delete</h3>
	</div>
	<div class="modal-body">
		<p>{{ modal_message }}</p>
	</div>
	<div class="modal-footer">
		<form action="{{ action }}" method="POST">{% csrf_token %}
			<input type="hidden" name="id" value="{{ id }}" />
			<a href="#" class="btn" data-dismiss="modal">Cancel</a>
			<input type="submit" class="btn btn-danger" value="Confirm Delete" />
		</form>
	</div>
</div>
