<div class="modal hide" id="upload-modal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3 data-state="choose_file">Upload</h3>
		<h3 data-state="uploading">Uploading</h3>
	</div>
	<div class="modal-body">
		<div data-state="choose_file">
			<form id="modal_upload_form">
				<label for="modal_file_field">Select a file</label>	
				<input id="modal_file_field" name="file" type="file" multiple="multiple"/>
			</form>
		</div>
		<div data-state="uploading">
			<ul class="clearfix"></ul>
			<!--
			<p>Uploading</p>
			<div class="progress">
				<div class="bar"></div>
			</div>
			-->
		</div>		
	</div>
	<div class="modal-footer">
		<div data-state="choose_file">
			<a href="#" class="btn" data-dismiss="modal">Cancel</a>
			<a href="#" id="modal_upload_button" class="btn btn-primary disabled">Upload</a>
		</div>
	</div>
</div>
<script id="upload-item-template" type="text/html">
	<p class="name"><%= name %></p>
	<div class="progress">
		<div class="bar"></div>
	</div>
</script>