.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  overflow-y: scroll;
  padding-top: 176px;
  background: #ecf0f1;
}
body.media-chooser {
  padding: 0;
  background: none;
  overflow-y: visible;
}
textarea {
  resize: none;
}
.alert-error {
  padding-bottom: 4px;
}
.alert-error .errorlist {
  margin: 0px;
}
.error input[type="text"],
.error input[type="password"],
.error textarea {
  border-color: #b94a48;
}
.help_text {
  font-size: 11px;
  font-style: italic;
  color: #848484;
  clear: both;
  padding-bottom: 10px;
  margin: 0;
}
.non-editable p {
  height: 18px;
  padding: 0px 5px 10px 5px;
  margin-bottom: 9px;
}
hr {
  border-top-color: #d7dee2;
  margin-top: 15px;
  margin-bottom: 15px;
}
table {
  background: none;
  margin-bottom: 9px;
  width: 100%;
  border: none;
}
table thead tr {
  border-bottom: 1px solid #999;
}
table thead tr th {
  border: none;
  padding: 5px;
  text-align: left;
}
table tbody tr {
  border-bottom: 1px solid #CCC;
}
table tbody tr td {
  border: none;
  padding: 5px;
}
table tbody tr:last-child {
  border: none;
}
h1 {
  margin-bottom: 15px;
}
h3 {
  margin-bottom: 5px;
}
a {
  color: #25826d;
}
a:hover {
  color: #1a5a4c;
}
.btn-primary {
  background-color: #37ba9c;
  background-image: -moz-linear-gradient(top, #3bc7a8, #2fa68b);
  background-image: -ms-linear-gradient(top, #3bc7a8, #2fa68b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3bc7a8), to(#2fa68b));
  background-image: -webkit-linear-gradient(top, #3bc7a8, #2fa68b);
  background-image: -o-linear-gradient(top, #3bc7a8, #2fa68b);
  background-image: linear-gradient(top, #3bc7a8, #2fa68b);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3bc7a8', endColorstr='#2fa68b', GradientType=0);
  border-color: #2fa68b #2fa68b #1e6a59;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #2fa68b;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #2fa68b;
  *background-color: #2a927a;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #247e6a \9;
}
.group {
  background: #e6eaed;
  border: solid 1px #d7dee2;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.container-fluid {
  min-width: 920px;
}
.container-fluid > .container {
  width: 920px;
}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  background: #ecf0f1;
}
.nav-tabs > li > a {
  padding-top: 7px;
  padding-bottom: 7px;
}
.navbar .navbar-inner {
  min-height: 32px;
  background: #525858;
  /* Old browsers */

  background: -moz-linear-gradient(top, #525858 1%, #393d3e 10%, #3e4343 47%, #323636 53%, #323636 91%, #2d3131 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #525858), color-stop(10%, #393d3e), color-stop(47%, #3e4343), color-stop(53%, #323636), color-stop(91%, #323636), color-stop(100%, #2d3131));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #525858 1%, #393d3e 10%, #3e4343 47%, #323636 53%, #323636 91%, #2d3131 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #525858 1%, #393d3e 10%, #3e4343 47%, #323636 53%, #323636 91%, #2d3131 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #525858 1%, #393d3e 10%, #3e4343 47%, #323636 53%, #323636 91%, #2d3131 100%);
  /* IE10+ */

  background: linear-gradient(top bottom, #525858 1%, #393d3e 10%, #3e4343 47%, #323636 53%, #323636 91%, #2d3131 100%);
  /* W3C */

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.navbar .navbar-inner .nav {
  border-right: 1px solid #303333;
  margin: 0 9px;
}
.navbar .navbar-inner .nav li {
  border-left: 1px solid #393d3e;
}
.navbar .navbar-inner .nav li.dropdown.open > .dropdown-toggle {
  color: #b3b3b3;
  background: none;
}
.navbar .navbar-inner .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #b3b3b3;
  border-bottom-color: #b3b3b3;
}
.navbar .navbar-inner .nav li:last-child {
  border-right: 1px solid #393d3e;
}
.navbar .navbar-inner .container-fluid {
  padding-left: 10px;
  padding-right: 10px;
}
.navbar .divider-vertical {
  height: 31px;
}
.navbar .nav > li > a {
  padding: 5px 10px 7px;
  text-shadow: 0px -1px 0px #000000;
  border-left: 1px solid #303333;
  color: #b3b3b3;
  font-size: 12px;
}
.navbar .nav > li > a:hover {
  color: #ffffff;
}
.navbar .nav > li > .dropdown-menu::after,
.navbar .nav > li .dropdown-menu::before {
  border: none;
}
.navbar .pull-right .dropdown-menu {
  background: #323636;
  margin: 0;
  -webkit-border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
}
.navbar .pull-right .dropdown-menu a {
  color: #b3b3b3;
}
.navbar .pull-right .dropdown-menu a:hover {
  color: #ffffff;
  background: #47525b;
}
#content-bar {
  position: fixed;
  top: 32px;
  width: 100%;
  z-index: 1;
  min-width: 940px;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
  background: #e0e5e8;
}
#content-bar .breadcrumbs-bar {
  min-height: 21px;
  background: #1f6e63;
  border-top: 1px solid #288e7f;
}
#content-bar .breadcrumbs-bar ul.breadcrumb {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#content-bar .breadcrumbs-bar ul.breadcrumb li {
  font-size: 12px;
  text-shadow: none;
}
#content-bar .breadcrumbs-bar ul.breadcrumb li a {
  display: inline-block;
  color: #57cfbe;
}
#content-bar .breadcrumbs-bar ul.breadcrumb li .divider {
  color: #57cfbe;
}
#content-bar .breadcrumbs-bar ul.breadcrumb li:first-child {
  margin-left: 21px;
}
#content-bar .title-bar {
  color: #f7fffd;
  background: url('images/title_bar_bg.jpg') repeat-x #70d0aa;
  padding: 8px 0;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.45);
}
#content-bar .title-bar h1 {
  margin: 0 0 0 20px;
  font-size: 28px;
  line-height: 28px;
  cursor: default;
  text-shadow: 0px 1px 0px #25826d;
}
#content-bar .action-bar {
  float: left;
  width: 100%;
  height: 56px;
}
#content-bar .action-bar .action-bar-inner {
  margin: 14px 20px 0;
}
#content-bar .action-bar ul {
  list-style: none;
}
#content-bar .action-bar ul li {
  float: left;
  display: block;
  padding: 0;
  margin: 0;
  margin-right: 5px;
}
#content-bar .action-bar .pull-right li {
  margin-left: 5px;
  margin-right: 0px;
}
#content_container header {
  margin-bottom: 15px;
}
#content_container header h1,
#content_container header h2 {
  margin: 0;
}
div.ui-datepicker {
  font-size: 11px;
  -webkit-box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.35);
}
/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
#login {
  padding: 0;
}
#login_form_holder {
  position: absolute;
  background: #e6eaed;
  border: 1px solid #d7dee2;
  padding: 30px;
  width: 310px;
  height: 132px;
  top: 50%;
  left: 50%;
  margin-top: -96px;
  margin-left: -185px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
#login_form_holder form {
  margin: 0;
}
#login_form_holder form.form-horizontal .control-label {
  width: auto;
}
#login_form_holder form.form-horizontal .controls {
  margin: 0;
  float: right;
}
#login_form_holder .alert.alert-error ul {
  margin: 0;
  list-style: none;
}
#login-control-group {
  margin: 0;
}
#login-control-group .controls {
  width: 100%;
}
#login-control-group .controls label {
  color: #9d9d9d;
  width: auto;
  float: left;
}
#content_container.templates {
  overflow: visible;
}
#template-browser {
  position: absolute;
  left: 20px;
  top: 170px;
  bottom: 10px;
  right: 81%;
  overflow: auto;
  background: #ffffff;
  border: solid 1px #dddddd;
}
#template-browser .btn-primary {
  margin-top: 5px;
  margin-bottom: 22px;
}
#template-browser ul {
  list-style: none;
  margin: 0;
  background: #ffffff;
}
#template-browser ul li.active {
  background: #baece0;
}
#template-browser ul li.active.unsaved {
  background: #ff8f8f;
}
#template-browser ul li.unsaved {
  background: #ffb3b3;
}
#template-browser ul li a {
  display: block;
  padding: 3px 6px;
}
#template-browser ul li a:hover {
  text-decoration: none;
  color: #25826d;
}
#template-browser ul li .chevron {
  display: block;
  float: left;
  width: 15px;
  height: 15px;
  margin-right: 2px;
  background: url('images/chevron-sprite-sheet-white.png') no-repeat;
}
#template-browser ul li.in .chevron {
  background-position: -15px;
}
#template-browser ul li .group-header {
  font-weight: bold;
  background: #25826d;
  color: #ffffff;
  padding: 3px 6px;
  border-bottom: 1px solid #1f6e5c;
  border-top: 1px solid #288e7f;
}
#template-browser ul li .group-header h3 {
  float: left;
  margin: 0;
  font-size: 14px;
  line-height: 19px;
}
#template-browser ul li .group-header a {
  padding: 0;
}
#template-browser ul li .group-header ul.controls {
  background: none;
}
#template-browser ul li .group-header ul.controls li {
  float: left;
  margin-left: 3px;
}
#template-view {
  position: absolute;
  left: 20%;
  right: 20px;
  top: 170px;
  bottom: 10px;
}
#template-view .tab-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 42px;
  bottom: 0;
  overflow: visible;
}
#template-view .tab-content #editor {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 30px;
  bottom: 0;
}
#template-view .tab-content #settings-pane .field-holder {
  float: left;
}
#create-template-modal label,
#create-templategroup-modal label,
#edit-templategroup-modal label {
  font-weight: bold;
}
#create-template-modal input[type="text"],
#create-templategroup-modal input[type="text"],
#edit-templategroup-modal input[type="text"] {
  width: 516px;
}
#create-template-modal .alert,
#create-templategroup-modal .alert,
#edit-templategroup-modal .alert {
  margin-bottom: 10px;
}
#create-template-modal ul,
#create-templategroup-modal ul,
#edit-templategroup-modal ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#create-template-modal ul li,
#create-templategroup-modal ul li,
#edit-templategroup-modal ul li {
  float: left;
  margin-right: 10px;
}
#create-template-modal ul li label input,
#create-templategroup-modal ul li label input,
#edit-templategroup-modal ul li label input {
  margin: 0 2px 4px 0;
}
#preview-link-holder {
  position: absolute;
  right: 0;
  top: 4px;
}
#preview-link-holder .preview-url,
#preview-link-holder input,
#preview-link-holder a {
  float: left;
  display: inline-block;
  margin-left: 5px;
  font-size: 11px;
}
#preview-link-holder input {
  padding: 0;
  width: 130px;
}
#preview-link-holder p {
  line-height: 22px;
}
#id_template_content {
  height: 550px;
}
.dashboard-panel {
  background: #aaa;
  height: 200px;
  margin-bottom: 20px;
}
.field_holder {
  padding-left: 10px;
  padding-right: 20px;
  margin: 6px 0px 0px 0px;
}
.field_label_holder {
  padding: 5px 10px 0px 8px;
}
.field_label_holder label,
.field_label_holder p {
  margin: 0;
  padding: 0;
  font-weight: bold;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.field_label_holder label {
  width: auto;
  display: inline-block;
}
.field_label_holder .required {
  color: red;
  font-weight: bold;
}
.field_label_holder .alert-error {
  margin-top: 10px;
}
.accordion-group {
  background: #e6eaed;
  border-color: #d7dee2;
  margin-bottom: 6px;
}
.accordion-group ul {
  margin: 0px 0px 5px 0px;
  padding: 0;
  display: inline-block;
  list-style: none;
}
.accordion-group ul li {
  float: left;
  margin-right: 10px;
}
.accordion-group ul li label {
  margin: 0;
}
.accordion-group ul li label input {
  margin: 0 2px 4px 0;
}
.accordion-group .chevron {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url("images/chevron-sprite-sheet.png") no-repeat;
}
.accordion-group.in .chevron {
  background-position: -15px 0;
}
#categories ul li {
  clear: both;
}
#create_controls label {
  float: left;
  margin-right: 10px;
  padding: 4px 0px;
}
#create_controls a {
  float: left;
}
#create_controls select {
  float: left;
  margin-right: 10px;
}
.accordion-group a.choose-file-button {
  margin-bottom: 9px;
}
#textarea-modal {
  width: 952px;
  height: 640px;
  margin: -320px 0 0 -476px;
  z-index: 1049;
}
#textarea-modal .modal-body {
  max-height: none;
}
#textarea-modal .modal-body ul {
  margin: 0px 0px 5px 0px;
  list-style: none;
  display: inline-block;
}
#textarea-modal .modal-body ul li {
  float: left;
  margin-right: 5px;
}
#textarea-modal .modal-body textarea {
  width: 906px;
  height: 499px;
  max-width: none;
}
.field_holder .textarea-controls {
  width: 100%;
}
.field_holder .textarea-controls li {
  margin-right: 5px;
}
.field_holder .choose-file-button {
  float: left;
  clear: both;
}
.field_holder .media-asset-thumbnail {
  position: relative;
  float: left;
  clear: both;
  background: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 5px;
  border: 1px solid #dddddd;
  width: 140px;
  text-align: center;
  margin-bottom: 15px;
}
.field_holder .media-asset-thumbnail img {
  margin-bottom: 5px;
}
.field_holder .media-asset-thumbnail ul {
  margin: 0;
}
.field_holder .media-asset-thumbnail ul li {
  font-size: 10px;
  margin: 0;
  word-wrap: break-word;
  width: 130px;
  line-height: 1.3em;
}
.field_holder .media-asset-thumbnail a.remove-asset-button {
  transition: 0.25s;
  -moz-transition: 0.25s;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  opacity: 0;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.35);
  position: absolute;
  background: #ff0000;
  background-color: #d60000;
  background-image: -moz-linear-gradient(top, #ff0000, #990000);
  background-image: -ms-linear-gradient(top, #ff0000, #990000);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff0000), to(#990000));
  background-image: -webkit-linear-gradient(top, #ff0000, #990000);
  background-image: -o-linear-gradient(top, #ff0000, #990000);
  background-image: linear-gradient(top, #ff0000, #990000);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0000', endColorstr='#990000', GradientType=0);
  font-weight: bold;
  font-size: 17px;
  color: #ffffff;
  width: 16px;
  height: 16px;
  top: 7px;
  right: 7px;
  border: 1px solid #b30000;
}
.field_holder .media-asset-thumbnail a.remove-asset-button:hover {
  text-decoration: none;
}
.field_holder .media-asset-thumbnail:hover a.remove-asset-button {
  display: block;
  opacity: 1;
}
.field_holder input[type="checkbox"] {
  margin: 2px 5px 8px 0;
}
.field_holder input[data-field-type="color"] {
  float: left;
  margin-top: 83px;
}
.field_holder .picker {
  float: left;
  margin-left: 20px;
  margin-bottom: 10px;
}
#entries_filter_form {
  float: left;
  margin-bottom: 15px;
}
#entries_filter_form ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#entries_filter_form ul li {
  display: block;
  float: left;
  margin-right: 20px;
}
#entries_filter_form ul li label {
  font-size: 12px;
  margin: 3px 6px 0px 0px;
  float: left;
}
#entries_filter_form ul li select,
#entries_filter_form ul li input {
  font-size: 12px;
  margin-bottom: 0;
}
#entries_filter_form ul li select {
  float: left;
  width: auto;
  padding: 2px;
  min-width: 120px;
  height: 26px;
}
.no-media-message {
  text-align: center;
}
#thumbnails_form {
  margin: 0;
}
ul.thumbnails {
  margin: 0;
  margin-left: -2%;
  width: 100%;
  margin-bottom: -15px;
}
ul.thumbnails li {
  width: 14.666%;
  margin: 0 0 15px 2%;
}
ul.thumbnails li a {
  text-decoration: none;
  color: #444444;
}
ul.thumbnails li .thumbnail {
  text-align: center;
  background: #ffffff;
  height: 155px;
  position: relative;
}
ul.thumbnails li .thumbnail img {
  max-height: 83px;
}
ul.thumbnails li .thumbnail ul {
  position: absolute;
  bottom: 6px;
  text-align: center;
  list-style: none;
  width: 130px;
  margin: 4px 0px 0px 0px;
}
ul.thumbnails li .thumbnail li,
ul.thumbnails li .thumbnail label,
ul.thumbnails li .thumbnail p {
  font-size: 10px;
  line-height: 1.5em;
  width: 100%;
  word-wrap: break-word;
  margin: 0;
  cursor: pointer;
}
ul.thumbnails li .thumbnail:hover {
  border-color: #6bd5bd;
}
#preview_modal {
  width: 952px;
  margin: -380px 0px 0px -476px;
}
#preview_modal .modal-body {
  overflow: visible;
  max-height: none;
  text-align: center;
}
#preview_modal .modal-body img {
  max-width: 935px;
  max-height: 600px;
}
#preview_modal .modal-body ul {
  margin: 10px 0px 0px 0px;
  list-style: none;
  font-size: 11px;
}
#preview_modal .modal-body ul li {
  line-height: 1.5em;
}
#media_chooser_modal {
  width: 952px;
  height: 676px;
  margin: -338px 0 0 -476px;
}
#media_chooser_modal .modal-body {
  max-height: none;
}
#media_chooser_modal .modal-body iframe {
  width: 922px;
  height: 590px;
  border: none;
}
#media_chooser_upload_button {
  margin-bottom: 14px;
}
.media-chooser .modal-backdrop {
  background-color: #ffffff;
}
.media-chooser #upload_modal {
  top: 370px;
}
.media-chooser .thumbnails {
  margin-bottom: auto;
}
.media-chooser .thumbnails .thumbnail {
  height: 140px;
}
.media-chooser .pagination {
  float: left;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 0;
}
/* css for timepicker */
.ui-timepicker-div .ui-widget-header {
  margin-bottom: 8px;
}
.ui-timepicker-div dl {
  text-align: left;
}
.ui-timepicker-div dl dt {
  height: 25px;
  margin-bottom: -25px;
}
.ui-timepicker-div dl dd {
  margin: 0 10px 10px 65px;
}
.ui-timepicker-div td {
  font-size: 90%;
}
.ui-tpicker-grid-label {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}
