{% extends "thunderchild/_page.html" %}

{% block title %}Categories{% endblock %}
{% block title_bar_title %}Categories{% endblock %}

{% block body_classes %}categories{% endblock %}

{% block action_bar %}
<a id="create-categorygroup-button" class="btn btn-primary pull-right" href="#">Create category group</a>
{% endblock %}

{% block post_content %}
<script type="text/html" id="categorygroup-template">
	<div class="group-header clearfix collapsed" data-toggle="collapse" data-target="#group-content-<%= id %>">
		<i class="chevron"></i>
		<h3><%= categorygroup_name %></h3>
		<div class="pull-right controls" style="display: none;">
			<a class="btn btn-mini btn-link delete-group-button" href="#">Delete</a>
			<a class="btn btn-small edit-group-button" href="#">Edit</a>
			<a class="btn btn-small btn-primary create-category-button" href="#">Create category</a>
		</div>
	</div>
	<div id="group-content-<%= id %>" class="group-content collapse">
		<table class="table">
			<thead>
				<th>Name</th>
				<th>Short name</th>
				<th></th>
			</thead>
			<tbody>
			</tbody>
		</table>
		<p class="hide no-categories-msg">Category group contains no categories. Click 'Create category' above to create one.</p>
	</div>
</script>
<script type="text/html" id="category-template">
	<tr data-category-id="<%= id %>">
		<td><a href="#" class="category-name"><%= category_name %></a></td>
		<td>{ <%= category_short_name %> }</td>
		<td><a class="btn btn-mini btn-link delete-category-button pull-right">Delete</a></td>
	</tr>
</script>
<script id="form-error-template" type="text/html">
	<div class="alert alert-error"><ul class="errorlist"><%= errors %></ul></div>
</script>


<div id="categorygroup-modal" class="modal hide">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Create category group</h3>
	</div>
	<div class="modal-body">
		<form id="categorygroup-modal-form">
			{% for field in categorygroup_form %}
				{% if not field.is_hidden %}
					<div class="field-holder">
						{{ field.label_tag }}
						{{ field }}
						{% if field.help_text %}
						<p class="help-text">{{ field.help_text }}</p>
						{% endif %}
					</div>
				{%else%}
					{{ field }}
				{%endif%}
			{% endfor %}
		</form>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Cancel</a>
		<a href="#" class="btn btn-primary" id="categorygroup-form-modal-ok-button">Save</a>
	</div>
</div>

<div id="category-modal" class="modal hide">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Create category</h3>
	</div>
	<div class="modal-body">
		<form id="category-form">
			{% for field in category_form %}
				{% if not field.is_hidden %}
					<div class="field-holder">
						{{ field.label_tag }}
						{{ field }}
						{% if field.help_text %}
						<p class="help-text">{{ field.help_text }}</p>
						{% endif %}
					</div>
				{%else%}
					{{ field }}
				{%endif%}
			{% endfor %}
		</form>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Cancel</a>
		<a href="#" class="btn btn-primary" id="category-form-modal-ok-button">Save</a>
	</div>
</div>

<div id="confirm-delete-modal" class="modal hide">
	<div class="modal-header">
		<button class="close" data-dismiss="modal">×</button>
		<h3>Confirm Delete</h3>
	</div>
	<div class="modal-body">
		<p id="confirm-delete-message"></p>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Cancel</a>
		<a href="#" class="btn btn-danger" id="confirm-delete-button">Confirm Delete</a>
	</div>
</div>
{% endblock %}

{% block javascript %}
	<script>
		var categoryGroupData = {{ categorygroups_json|safe }};
		var categoryData = {{ categories_json|safe }};
	</script>
	{% if debug %}
		<script data-main="{{ STATIC_URL }}thunderchild/js_src/categories-app.js" src="{{ STATIC_URL }}thunderchild/js_src/lib/require.js"></script>
	{% else %}
		<script data-main="{{ STATIC_URL }}thunderchild/js/categories-app.js" src="{{ STATIC_URL }}thunderchild/js/lib/require.js"></script>
	{% endif %}
{% endblock %}