{% extends "thunderchild/base.html" %}

{% block title %}Categories{% endblock %}
{% block title_bar_title %}Categories{% endblock %}

{% block body_classes %}categories{% endblock %}

{% block action_bar %}
<a id="create-categorygroup-button" class="btn btn-primary pull-right" href="#">Create category group</a>
{% endblock %}

{% block post_content %}
<script type="text/html" id="categorygroup-template">
	<div class="group-header clearfix collapsed" data-toggle="collapse" data-target="#group-content-<%= id %>">
		<i class="chevron"></i>
		<h3><%= categorygroup_name %></h3>
	</div>
	<div id="group-content-<%= id %>" class="group-content collapse">
		<div class="pull-right controls">
			<a class="btn btn-mini btn-link delete-group-button" href="#">Delete</a>
			<a class="btn btn-small edit-group-button" href="#">Edit</a>
			<a class="btn btn-small btn-primary create-category-button" href="#">Create category</a>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Short name</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</script>
<script type="text/html" id="category-template">
	<tr data-category-id="<%= id %>">
		<td><a href="#"><%= category_name %></a></td>
		<td><%= category_short_name %></td>
	</tr>
</script>
<script id="form-error-template" type="text/html">
	<div class="alert alert-error"><ul class="errorlist"><%= errors %></ul></div>
</script>


<div id="categorygroup-modal" class="modal hide">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Create category group</h3>
	</div>
	<div class="modal-body">
		<form id="categorygroup-modal-form">
			<div class="field-holder">
				{{ categorygroup_form.categorygroup_name.label_tag }}
				<!--
				<div class="alert alert-error">
					<ul class="errorlist"><li>Foo</li></ul>
				</div>
				-->
				{{ categorygroup_form.categorygroup_name }}
				{% if categorygroup_form.categorygroup_name.help_text %}
				<p class="help_text">{{ categorygroup_form.categorygroup_name.help_text }}</p>
				{% endif %}
			</div>
			<div class="field-holder">
				{{ categorygroup_form.categorygroup_short_name.label_tag }}
				{{ categorygroup_form.categorygroup_short_name }}
				{% if categorygroup_form.categorygroup_short_name.help_text %}
				<p class="help_text">{{ categorygroup_form.categorygroup_short_name.help_text }}</p>
				{% endif %}
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Cancel</a>
		<a href="#" class="btn btn-primary" id="categorygroup-form-modal-ok-button">Create</a>
	</div>
</div>

<div id="category-modal" class="modal hide">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Create category</h3>
	</div>
	<div class="modal-body">
		{{ category_form }}
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Cancel</a>
		<a href="#" class="btn btn-primary" id="category-form-modal-ok-button">Create</a>
	</div>
</div>

<div id="confirm-delete-modal" class="modal hide">
	<div class="modal-header">
		<button class="close" data-dismiss="modal">×</button>
		<h3>Confirm Delete</h3>
	</div>
	<div class="modal-body">
		<p id="confirm-delete-message"></p>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Cancel</a>
		<a href="#" class="btn btn-danger" id="confirm-delete-button">Confirm Delete</a>
	</div>
</div>
{% endblock %}

{% block javascript %}
	<script>
		var categoryGroupData = {{ categorygroups_json|safe }};
		var categoryData = {{ categories_json|safe }};
	</script>
	{% if debug %}
		<script src="{{ STATIC_URL }}thunderchild/js_src/categories.js"></script>
	{% else %}
		<script src="{{ STATIC_URL }}thunderchild/js/categories-min.js"></script>
	{% endif %}
{% endblock %}