{% extends "thunderchild/base.html" %}

{% block title %}Create Category{% endblock %}
{% block title_bar_title %}Create Category{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
	<li>
		<a href="{% url thunderchild.category_views.categorygroups %}">Category Groups</a> <span class="divider">/</span>
	</li>
</ul>
{% endblock %}

{% block pre_action_bar %}
<form action="{% url thunderchild.category_views.create_category categorygroup_id %}" method="post">{% csrf_token %}
{% endblock %}

{% block action_bar %}
<input class="btn btn-primary pull-right" type="submit" value="Create" />
{% endblock %}

{% block content %}
	{% for field in form %}
		{% if not field.is_hidden %}
		<div class="accordion-group">
				<div class="field_label_holder" data-toggle="collapse" data-target="#form_fieldholder_{{ forloop.counter }}">
					{% if field.field.required %}<span class="required">* </span>{% endif %}{{ field.label_tag }}
					{% if field.errors %}<div class="alert alert-error">{{ field.errors }}</div>{% endif %}
				</div>
				<div id="form_fieldholder_{{ forloop.counter }}" class="collapse control-group field_holder {% if field.errors %}error{% endif %} {% if not field.field.field_collapsed_by_default %}in{% endif %}">
					{{ field }}
					{% if field.help_text %}<p class="help_text">{{ field.help_text }}</p>{% endif %}
				</div>
		</div>
		{% else %}
			{{ field }}
		{% endif %}
	{% endfor %}
{% endblock %}

{% block post_content %}
</form>
{% endblock %}

{% block javascript %}
<script>
	Utilities.autoAlphanumeric( $("#id_category_name"), $("#id_category_short_name") );
	// This stops label elements from triggering their associated fields when clicked.
	$(".field_label_holder label").click(function(e){
		e.preventDefault();
	});
</script>
{% endblock %}