{% extends "thunderchild/base.html" %}

{% block content %}

		<ul class="breadcrumb">
			<li>
				<a href="{% url thunderchild.comment_views.comments %}">Comments</a> <span class="divider">/</span>
			</li>
			<li class="active">
				Edit Comment
			</li>
		</ul>
		
		<header>
			<h1>Edit Comment</h1>
		</header>
		
		<form action="{% url thunderchild.comment_views.edit comment_id %}" method="post">{% csrf_token %}
			{% for field in form %}
				{% if not field.is_hidden %}
				<div class="accordion-group">
						<div class="field_label_holder" data-toggle="collapse" data-target="#form_fieldholder_{{ forloop.counter }}">
							{% if field.field.required %}<span class="required">* </span>{% endif %}{{ field.label_tag }}
							{% if field.errors %}<div class="alert alert-error">{{ field.errors }}</div>{% endif %}
						</div>
						<div id="form_fieldholder_{{ forloop.counter }}" class="collapse control-group field_holder {% if field.errors %}error{% endif %} {% if not field.field.field_collapsed_by_default %}in{% endif %}">
							{{ field }}
							{% if field.help_text %}<p class="help_text">{{ field.help_text }}</p>{% endif %}
						</div>
				</div>
				{% else %}
					{{ field }}
				{% endif %}
			{% endfor %}
			<div class="pull-right">
				<a class="btn btn-danger" data-toggle="modal" href="#confirm_delete_modal"><i class="icon-trash icon-white"></i> Delete</a>
				<input class="btn" type="submit" value="Save" />
			</div>
		</form>
		
		{% include "thunderchild/includes/confirm_delete_modal.html" with modal_message="Are you sure you want to <b>permanently</b> delete this comment?" modal_delete_url=delete_url %}
		
{% endblock %}

{% block javascript %}
<script type="text/javascript">
	$("#confirm_delete_modal").modal().modal("hide");
	// This stops label elements from triggering their associated fields when clicked.
	$(".field_label_holder label").click(function(e){
		e.preventDefault();
	});
</script>
{% endblock %}