{% extends "thunderchild/_page.html" %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}thunderchild/css/cupertino/jquery-ui-1.8.21.custom.css" type="text/css" media="screen"/>
<link rel="stylesheet" href="{{ STATIC_URL }}thunderchild/css/farbtastic.css" type="text/css" media="screen"/>
{% endblock %}

{% block title %}Edit Entry{% endblock %}
{% block title_bar_title %}Edit Entry{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
	<li>
		<a href="{% url thunderchild.entry_views.entries %}">Entries</a> <span class="divider">/</span>
	</li>
</ul>
{% endblock %}

{% block pre_action_bar %}
<form action="{% url thunderchild.entry_views.edit_entry entry_id %}" method="post">{% csrf_token %}
{% endblock %}
{% block action_bar %}
<div class="pull-right">
	<a class="btn btn-danger" data-toggle="modal" href="#confirm_delete_modal"><i class="icon-trash icon-white"></i> Delete</a>
	<input class="btn" name="submit-button" type="submit" value="Save" />
	<input class="btn btn-primary" name="submit-button" type="submit" value="Save and finish" />
</div>
{% endblock %}

{% block content %}

	<ul class="nav nav-tabs" id="tabs">
		<li><a href="#fields" data-toggle="tab">Fields</a></li>
		<li><a href="#dates" data-toggle="tab">Dates</a></li>
		<li><a href="#comments" data-toggle="tab">Comments</a></li>
		{% if has_categorygroup %}<li><a href="#categories" data-toggle="tab">Categories</a></li>{% endif %}
	</ul>
		
	<div class="tab-content">
		
		<div id="fields" class="tab-pane">
			
			{{ form1.entrytype }}
			
			<div class="accordion-group">
					<div class="field-label-holder" data-toggle="collapse" data-target="#form1_fieldholder_title">
						<i class="chevron"></i>
						{% if form1.title.field.required %}<span class="required">* </span>{% endif %}{{ form1.title.label_tag }}
						{% if form1.title.errors %}<div class="alert alert-error">{{ form1.title.errors }}</div>{% endif %}
					</div>
					<div id="form1_fieldholder_title" class="collapse control-group field-holder {% if form1.title.errors %}error{% endif %} {% if not form1.title.field.field_collapsed_by_default %}in{% endif %}">
						{{ form1.title }}
						{% if form1.title.help_text|safe %}<p class="help-text">{{ form1.title.help_text|safe }}</p>{% endif %}
					</div>
			</div>
			
			<div class="accordion-group">
					<div class="field-label-holder" data-toggle="collapse" data-target="#form1_fieldholder_slug">
						<i class="chevron"></i>
						{% if form1.slug.field.required %}<span class="required">* </span>{% endif %}{{ form1.slug.label_tag }}
						{% if form1.slug.errors %}<div class="alert alert-error">{{ form1.slug.errors }}</div>{% endif %}
					</div>
					<div id="form1_fieldholder_slug" class="collapse control-group field-holder {% if form1.slug.errors %}error{% endif %} {% if not form1.slug.field.field_collapsed_by_default %}in{% endif %}">
						{{ form1.slug }}
						{% if form1.slug.help_text|safe %}<p class="help-text">{{ form1.slug.help_text|safe }}</p>{% endif %}
					</div>
			</div>
			
			{% for field in form2 %}
				{% if not field.is_hidden %}
				<div class="accordion-group">
					<div class="field-label-holder" data-toggle="collapse" data-target="#form2_fieldholder_{{ forloop.counter }}">
						<i class="chevron"></i>
						{% if field.field.required %}<span class="required">* </span>{% endif %}{{ field.label_tag }}
						{% if field.errors %}<div class="alert alert-error">{{ field.errors }}</div>{% endif %}
					</div>
					<div id="form2_fieldholder_{{ forloop.counter }}" class="collapse control-group field-holder {% if field.errors %}error{% endif %} {% if not field.field.field_collapsed_by_default %}in{% endif %}">
						{% for key, value in media_assets.items %}
							{% ifequal key field.html_name %}
							<div class="media-asset-thumbnail">
								<img src="{{ value.thumbnail_url }}" alt="Media asset thumbnail" />
								<ul>
									<li>{{ value.filename }}</li>
								</ul>
								<a href="#" class="remove-asset-button">&times;</a>
							</div>
							{% endifequal %}				
						{% endfor %}
						{{ field }}
						{% if field.help_text|safe %}<p class="help-text">{{ field.help_text|safe }}</p>{% endif %}
					</div>
				</div>
				{% else %}
					{{ field }}
				{% endif %}
			{% endfor %}
			
			<div class="accordion-group">
					<div class="field-label-holder" data-toggle="collapse" data-target="#form1_fieldholder_is_published">
						<i class="chevron"></i>
						{% if form1.is_published.field.required %}<span class="required">* </span>{% endif %}{{ form1.is_published.label_tag }}
						{% if form1.is_published.errors %}<div class="alert alert-error">{{ form1.is_published.errors }}</div>{% endif %}
					</div>
					<div id="form1_fieldholder_is_published" class="collapse control-group field-holder {% if form1.is_published.errors %}error{% endif %} {% if not form1.is_published.field.field_collapsed_by_default %}in{% endif %}">
						{{ form1.is_published }}
						{% if form1.is_published.help_text|safe %}<p class="help-text">{{ form1.is_published.help_text|safe }}</p>{% endif %}
					</div>
			</div>
		</div>
		
		<div id="dates" class="tab-pane">
			<div class="accordion-group">
					<div class="field-label-holder" data-toggle="collapse" data-target="#form1_fieldholder_creation_date">
						<i class="chevron"></i>
						{% if form1.creation_date.field.required %}<span class="required">* </span>{% endif %}{{ form1.creation_date.label_tag }}
						{% if form1.creation_date.errors %}<div class="alert alert-error">{{ form1.creation_date.errors }}</div>{% endif %}
					</div>
					<div id="form1_fieldholder_creation_date" class="collapse control-group field-holder {% if form1.creation_date.errors %}error{% endif %} {% if not form1.creation_date.field.field_collapsed_by_default %}in{% endif %}">
						{{ form1.creation_date }}
						{% if form1.creation_date.help_text|safe %}<p class="help-text">{{ form1.creation_date.help_text|safe }}</p>{% endif %}
					</div>
			</div>
			
			<div class="accordion-group">
					<div class="field-label-holder" data-toggle="collapse" data-target="#form1_fieldholder_expiration_date">
						<i class="chevron"></i>
						{% if form1.expiration_date.field.required %}<span class="required">* </span>{% endif %}{{ form1.expiration_date.label_tag }}
						{% if form1.expiration_date.errors %}<div class="alert alert-error">{{ form1.expiration_date.errors }}</div>{% endif %}
					</div>
					<div id="form1_fieldholder_expiration_date" class="collapse control-group field-holder {% if form1.expiration_date.errors %}error{% endif %} {% if not form1.expiration_date.field.field_collapsed_by_default %}in{% endif %}">
						{{ form1.expiration_date }}
						{% if form1.expiration_date.help_text|safe %}<p class="help-text">{{ form1.expiration_date.help_text|safe }}</p>{% endif %}
					</div>
			</div>
		</div>
		
		<div id="comments" class="tab-pane">
			<div class="accordion-group">
				<div class="field-label-holder" data-toggle="collapse" data-target="#form1_fieldholder_comments_enabled">
					<i class="chevron"></i>
					{% if form1.comments_enabled.field.required %}<span class="required">* </span>{% endif %}{{ form1.comments_enabled.label_tag }}
					{% if form1.comments_enabled.errors %}<div class="alert alert-error">{{ form1.comments_enabled.errors }}</div>{% endif %}
				</div>
				<div id="form1_fieldholder_comments_enabled" class="collapse control-group field-holder {% if form1.comments_enabled.errors %}error{% endif %} {% if not form1.comments_enabled.field.field_collapsed_by_default %}in{% endif %}">
					{{ form1.comments_enabled }}
					{% if form1.comments_enabled.help_text|safe %}<p class="help-text">{{ form1.comments_enabled.help_text|safe }}</p>{% endif %}
				</div>
			</div>
			
			<div class="accordion-group">
				<div class="field-label-holder" data-toggle="collapse" data-target="#form1_fieldholder_comments_expiration_date">
					<i class="chevron"></i>
					{% if form1.comments_expiration_date.field.required %}<span class="required">* </span>{% endif %}{{ form1.comments_expiration_date.label_tag }}
					{% if form1.comments_expiration_date.errors %}<div class="alert alert-error">{{ form1.comments_expiration_date.errors }}</div>{% endif %}
				</div>
				<div id="form1_fieldholder_comments_expiration_date" class="collapse control-group field-holder {% if form1.comments_expiration_date.errors %}error{% endif %} {% if not form1.comments_expiration_date.field.field_collapsed_by_default %}in{% endif %}">
					{{ form1.comments_expiration_date }}
					{% if form1.comments_expiration_date.help_text|safe %}<p class="help-text">{{ form1.comments_expiration_date.help_text|safe }}</p>{% endif %}
				</div>
			</div>
		</div>
		
		{% if has_categorygroup %}
		<div id="categories" class="tab-pane">
			<div class="accordion-group">
				<div class="field-label-holder" data-toggle="collapse" data-target="#form1_fieldholder_categories">
					<i class="chevron"></i>
					{% if form1.categories.field.required %}<span class="required">* </span>{% endif %}{{ form1.categories.label_tag }}
					{% if form1.categories.errors %}<div class="alert alert-error">{{ form1.categories.errors }}</div>{% endif %}
				</div>
				<div id="form1_fieldholder_categories" class="collapse control-group field-holder {% if form1.categories.errors %}error{% endif %} {% if not form1.categories.field.field_collapsed_by_default %}in{% endif %}">
					{{ form1.categories }}
					{% if form1.categories.help_text|safe %}<p class="help-text">{{ form1.categories.help_text|safe }}</p>{% endif %}
				</div>
			</div>
		</div>
		{% endif %}
	</div>
{% endblock %}

{% block post_content %}
</form>

<script type="text/html" id="mediaAssetThumbnailTemplate">
	<div class="media-asset-thumbnail">
		<img src="<%= thumbnail_url %>" alt="Media asset thumbnail" />
		<ul>
			<li><%= filename %></li>
		</ul>
		<a href="#" class="remove-asset-button">&times;</a>
	</div>
</script>

{% include 'thunderchild/includes/media_chooser_modal.html' %}
{% include "thunderchild/includes/confirm_delete_modal.html" with modal_message="Are you sure you want to <b>permanently</b> delete this entry?" action=delete_url id=entry_id %}
{% include 'thunderchild/includes/textarea_controls.html' %}
{% include 'thunderchild/includes/textarea_modal.html' %}
{% endblock %}

{% block javascript %}

{% if debug %}
	<script data-main="{{ STATIC_URL }}thunderchild/js_src/create-edit-entries-app.js" src="{{ STATIC_URL }}thunderchild/js_src/lib/require.js"></script>
{% else %}
	<script data-main="{{ STATIC_URL }}thunderchild/js/create-edit-entries-app.js" src="{{ STATIC_URL }}thunderchild/js/lib/require.js"></script>
{% endif %}
{% endblock %}