{% extends "thunderchild/_page.html" %}

{% block title %}Edit Contact Form{% endblock %}
{% block title_bar_title %}Edit Contact Form{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
	<li>
		<a href="{% url thunderchild.form_views.contactforms %}">Contact Forms</a> <span class="divider">/</span>
	</li>
</ul>
{% endblock %}

{% block pre_action_bar %}
<form action="{% url thunderchild.form_views.edit_contactform contactform_id %}" method="post">{% csrf_token %}
{% endblock %}

{% block action_bar %}
<ul class="pull-right">
	<li><a class="btn btn-danger" data-toggle="modal" href="#confirm_delete_modal"><i class="icon-trash icon-white"></i> Delete</a></li>
	<li><input class="btn btn-primary" type="submit" value="Save" /></li>
</ul>
{% endblock %}

{% block content %}
	{% for field in form %}
		{% if not field.is_hidden %}
		<div class="accordion-group">
				<div class="field_label_holder" data-toggle="collapse" data-target="#form_fieldholder_{{ forloop.counter }}">
					<i class="chevron"></i>
					{% if field.field.required %}<span class="required">* </span>{% endif %}{{ field.label_tag }}
					{% if field.errors %}<div class="alert alert-error">{{ field.errors }}</div>{% endif %}
				</div>
				<div id="form_fieldholder_{{ forloop.counter }}" class="collapse control-group field_holder {% if field.errors %}error{% endif %} {% if not field.field.field_collapsed_by_default %}in{% endif %}">
					{{ field }}
					{% if field.help_text %}<p class="help_text">{{ field.help_text }}</p>{% endif %}
				</div>
		</div>
		{% else %}
			{{ field }}
		{% endif %}
	{% endfor %}
{% endblock %}

{% block post_content %}
</form>
{% include "thunderchild/includes/confirm_delete_modal.html" with modal_message="Are you sure you want to <b>permanently</b> delete this contact form?" action=delete_url id=contactform_id %}
{% endblock %}

{% block javascript %}
{% if debug %}
	<script data-main="{{ STATIC_URL }}thunderchild/js_src/common.js" src="{{ STATIC_URL }}thunderchild/js_src/lib/require.js"></script>
{% else %}
	<script data-main="{{ STATIC_URL }}thunderchild/js/common.js" src="{{ STATIC_URL }}thunderchild/js/lib/require.js"></script>
{% endif %}
<script>
	Utilities.autoAlphanumeric( $("#id_contactform_name"), $("#id_contactform_short_name") );
</script>
{% endblock %}