{% extends "thunderchild/_page.html" %}

{% block title %}Entries{% endblock %}
{% block title_bar_title %}Entries{% endblock %}

{% block action_bar %}
<div id="create-controls" class="pull-right">
	<label for="entry_type_select">Create a new</label>
	<select id="entry_type_select">
		{% for entry_type in entry_types %}
		<option value="{{ entry_type.id }}">{{ entry_type.entrytype_name }}</option>
		{% endfor %}
	</select>
	{% with entry_types|first as first_entry_type %}
	<a id="go_button" href="/dashboard/entries/create/{{ first_entry_type.id }}" class="btn btn-primary">Go</a>
	{% endwith %}
</div>
{% endblock %}

{% block content %}

		<form id="entries-filter-form" action="{% url thunderchild.entry_views.entries %}" method="get">
			<ul>
				{% for field in form %}
				<li>{{ field.label_tag }}{{ field }}</li>
				{% endfor %}
				<li><input type="submit" value="Filter" class="btn btn-small" /></li>
			</ul>
		</form>
	
		<table>
			<thead>
				<tr>
					<th>Title</th>
					<th>Slug</th>
					<th>Author</th>
					<th>Published</th>
					<th>Entry type</th>
					<th>Created</th>
					<th>Last modified</th>
				</tr>
			</thead>
			<tbody>
				{% for entry in entries %}
				<tr>
					<td><a href="{% url thunderchild.entry_views.edit_entry entry.id %}">{{ entry.title }}</a></td>
					<td>{{ entry.slug }}</td>
					<td>{{ entry.author.first_name }} {{ entry.author.last_name }}</td>
					<td>{{ entry.is_published }}</td>
					<td>{{ entry.entrytype.entrytype_name }}</td>
					<td>{{ entry.creation_date }}</td>
					<td>{{ entry.last_modified_date }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	
	{% if page.paginator.num_pages > 1 %}
	<hr />
	<div class="pagination pagination-centered">
		<ul>
			{% if page.has_previous %}
				<li><a href="?page={{ page.previous_page_number }}{{ filter_query }}">«</a></li>
			{% endif %}
			{% for num in page.paginator.page_range %}
				{% ifequal page.number num %}
					<li class="active"><a href="?page={{ num }}{{ filter_query }}">{{ num }}</a></li>
				{% else %}
					<li><a href="?page={{ num }}{{ filter_query }}">{{ num }}</a></li>
				{% endifequal %}
			{% endfor %}
			{% if page.has_next %}
				<li><a href="?page={{ page.next_page_number }}{{ filter_query }}">»</a></li>
			{% endif %}
		</ul>
	</div>
	{% endif %}
	
{% endblock %}

{% block javascript %}
{% if debug %}
	<script data-main="{{ STATIC_URL }}thunderchild/js_src/entries-app.js" src="{{ STATIC_URL }}thunderchild/js_src/lib/require.js"></script>
{% else %}
	<script data-main="{{ STATIC_URL }}thunderchild/js/entries-app.js" src="{{ STATIC_URL }}thunderchild/js/lib/require.js"></script>
{% endif %}
{% endblock %}
