{% extends "thunderchild/_page.html" %}

{% block title %}Entry Types{% endblock %}
{% block title_bar_title %}Entry Types{% endblock %}

{% block action_bar %}
<a class="btn btn-primary pull-right" href="{% url thunderchild.entry_views.create_entrytype %}">Create entry type</a>
{% endblock %}

{% block content %}
		{% if entrytypes %}
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Short name</th>
				</tr>
			</thead>
			<tbody>
			{% for entrytype in entrytypes %}
				<tr>
					<td><a href="{% url thunderchild.entry_views.edit_entrytype entrytype.id %}">{{ entrytype.entrytype_name }}</a></td>
					<td>{{ entrytype.entrytype_short_name }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		{% else %}
		<p>There are currently no entry types defined. Click 'Create entry type' above to create one.</p>
		{% endif %}
{% endblock %}