{% extends "thunderchild/_base.html" %}

{% block body %}
	<div id="login-form-holder">
		{% if errors %}
		<div class="alert alert-error">
			<strong>Error:</strong>
			<ul>
			{% for error in errors %}
				<li>- {{ error }}</li>
			{% endfor %}
			</ul>
		</div>
		{% endif %}
		<form method="post" class="form-horizontal" action="{% url thunderchild.views.login %}">
			{% csrf_token %}<input type="hidden" name="next" value="{{ next }}" />
			<div class="control-group">
				<label for="id_{{ form.username.html_name }}" class="control-label">{{ form.username.label }}</label>
				<div class="controls">
					{{ form.username }}
				</div>
			</div>
			<div class="control-group">
				<label for="id_{{ form.password.html_name }}" class="control-label">{{ form.password.label }}</label>
				<div class="controls">
					{{ form.password }}
				</div>
			</div>
			<div id="login-control-group" class="control-group">
				<div class="controls">
					<label for="id_{{ form.remember_me.html_name }}" class="checkbox">{{ form.remember_me }} Remember me</label>
					<input class="btn pull-right" type="submit" value="Login" />
				</div>
			</div>
		</form>
	</div>
{% endblock %}

{% block javascript %}
	{% if debug %}
		<script data-main="{{ STATIC_URL }}thunderchild/js_src/common.js" src="{{ STATIC_URL }}thunderchild/js_src/lib/require.js"></script>
	{% else %}
		<script data-main="{{ STATIC_URL }}thunderchild/js/common.js" src="{{ STATIC_URL }}thunderchild/js/lib/require.js"></script>
	{% endif %}
{% endblock %}