{% extends "thunderchild/base.html" %}

{% block title %}Media{% endblock %}
{% block title_bar_title %}Media{% endblock %}

{% block action_bar %}
<ul class="pull-right">
	<li><a id="select_all_button" href="#" class="btn">Select All</a></li>
	<li><a id="deselect_button" href="#" class="btn disabled">Deselect All</a></li>
	<li><a id="delete_button" href="#" class="btn btn-danger disabled"><i class="icon-trash icon-white"></i> Delete Selected</a></li>
	<li><a id="upload_button" href="#" class="btn btn-primary"><i class="icon-arrow-up icon-white"></i> Upload</a></li>
</ul>
{% endblock %}

{% block content %}
	
	<div class="container">
		{% if media_assets %}
		<form id="thumbnails_form" action="{{ delete_url }}" method="post">{% csrf_token %}
			<ul id="thumbnails_list" class="thumbnails">
				{% for media_asset in media_assets %}
				<li>
					<a href="{{ media_asset.url }}" target="_blank">
						<div class="thumbnail" data-id="{{ media_asset.id }}" data-is-image="{{ media_asset.is_image }}" data-url="{{ media_asset.url }}" data-filename="{{ media_asset.filename }}" data-type="{{ media_asset.type }}">
								<div class="img-wrapper{% if media_asset.type == 'image/png' %} transparency{% endif %}">
									<img src="{{ media_asset.thumbnail_url }}" alt="media asset thumbnail" data-width="{{ media_asset.width }}" data-height="{{ media_asset.height }}" />
								</div>
								<ul>
									<li><label for="thumbnail_{{ media_asset.id }}_checkbox">{{ media_asset.filename|truncatechars:20 }}</label></li>
									<li class="size">{{ media_asset.size|filesizeformat }}</li>
									{% if media_asset.is_image %}
									<li>{{ media_asset.width }} x {{ media_asset.height }}</li>
									{% else %}
									<li>N/A</li>
									{% endif %}
									<li><input id="thumbnail_{{ media_asset.id }}_checkbox" type="checkbox" name="media_asset" value="{{ media_asset.id }}" data-id="{{ media_asset.id }}" /></li>
								</ul>
						</div>
					</a>
				</li>
				{% endfor %}
			</ul>
		</form>
		{% else %}
		<p class="no-media-message">You have not yet uploaded any media. Begin by clicking Upload above.</p>
		{% endif %}
	</div>
	
	{% if media_assets.paginator.num_pages > 1 %}
	<div class="pagination pagination-centered">
		<ul>
			{% if media_assets.has_previous %}
				<li><a href="?page={{ media_assets.previous_page_number }}">«</a></li>
			{% endif %}
			{% for num in media_assets.paginator.page_range %}
				{% ifequal media_assets.number num %}
					<li class="active"><a href="?page={{ num }}">{{ num }}</a></li>
				{% else %}
					<li><a href="?page={{ num }}">{{ num }}</a></li>
				{% endifequal %}
			{% endfor %}
			{% if media_assets.has_next %}
				<li><a href="?page={{ media_assets.next_page_number }}">»</a></li>
			{% endif %}
		</ul>
	</div>
	{% endif %}
	
	<script>
		var initial_data = '{{ media_assets_json|safe }}';
	</script>
	
	{% include "thunderchild/includes/upload_modal.html" %}
	
	<div class="modal hide" id="delete_selected_modal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>Confirm Delete</h3>
		</div>
		<div class="modal-body">
			<p>Are you sure you want to <b>permanently</b> delete the selected assets?</p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Cancel</a>
			<a href="#" id="modal_confirm_delete_button" class="btn btn-danger"><i class="icon-trash icon-white"></i>Confirm Delete</a>
		</div>
	</div>
	
	<div class="modal hide" id="preview_modal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>Preview</h3>
		</div>
		<div class="modal-body">
		</div>
	</div>
	<script type="text/html" id="preview_modal_template">
		<div class="img-wrapper">
			<img src="<%= url %>" alt="<%= filename %>" />
		</div>
		<ul>
			<li><a href="<%= url %>" target="_blank"><%= filename %></a></li>
			<li><%= size %></li>
			<li><%= width %> x <%= height %></li>
		</ul>
	</script>

{% endblock %}

{% block javascript %}
<script>
	var mediaURL = "{% url thunderchild.media_views.media %}";
	var uploadURL = "{% url thunderchild.media_views.upload %}";
	var replaceURL = "{% url thunderchild.media_views.replace %}";
	var assetsURL = "{% url thunderchild.media_views.assets %}";
</script>
{% if debug %}
	<script data-main="{{ STATIC_URL }}thunderchild/js_src/media-app.js" src="{{ STATIC_URL }}thunderchild/js_src/lib/require.js"></script>
{% else %}
<!--
	<script src="{{ STATIC_URL }}thunderchild/js/media-upload-service-min.js"></script>
	<script src="{{ STATIC_URL }}thunderchild/js/media-min.js"></script>
-->
{% endif %}
{% endblock %}
