{% extends "thunderchild/base.html" %}

{% block content %}

	<header>
		<h1>Media</h1>
	</header>
	
	<a id="upload_button" href="#" class="btn">Upload</a>
	<div class="pull-right">
		<a id="select_all_button" href="#" class="btn">Select All</a>
		<a id="deselect_button" href="#" class="btn disabled">Deselect All</a>
		<a id="delete_button" href="#" class="btn btn-danger disabled"><i class="icon-trash icon-white"></i> Delete Selected</a>
	</div>

	<hr />

	<form id="thumbnails_form">
		<ul id="thumbnails_list" class="thumbnails">
			{% for media_asset in media_assets %}
			<li class="span2">
				<a href="{{ media_asset.url }}" target="_blank">
					<div class="thumbnail" data-id="{{ media_asset.id }}" data-is-image="{{ media_asset.is_image }}" data-url="{{ media_asset.url }}" data-filename="{{ media_asset.filename }}">
							<img src="{{ media_asset.thumbnail_url }}" alt="media asset thumbnail" data-width="{{ media_asset.width }}" data-height="{{ media_asset.height }}" />
							<ul>
								<li><label for="thumbnail_{{ media_asset.id }}_checkbox">{{ media_asset.filename }}</label></li>
								<li class="size">{{ media_asset.size|filesizeformat }}</li>
								<li><input id="thumbnail_{{ media_asset.id }}_checkbox" type="checkbox" data-id="{{ media_asset.id }}" /></li>
							</ul>
					</div>
				</a>
			</li>
			{% endfor %}
		</ul>
	</form>
	
	{% if media_assets.paginator.num_pages > 1 %}
	<hr />
	<div class="pagination pagination-centered">
		<ul>
			{% if media_assets.has_previous %}
				<li><a href="?page={{ media_assets.previous_page_number }}">«</a></li>
			{% endif %}
			{% for num in media_assets.paginator.page_range %}
				{% ifequal media_assets.number num %}
					<li class="active"><a href="?page={{ num }}">{{ num }}</a></li>
				{% else %}
					<li><a href="?page={{ num }}">{{ num }}</a></li>
				{% endifequal %}
			{% endfor %}
			{% if media_assets.has_next %}
				<li><a href="?page={{ media_assets.next_page_number }}">»</a></li>
			{% endif %}
		</ul>
	</div>
	{% endif %}
	
	<script>
		var initial_data = '{{ media_assets_json|safe }}';
	</script>
	
	{% include "thunderchild/includes/upload_modal.html" %}
	
	<div class="modal hide" id="delete_selected_modal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>Confirm Delete</h3>
		</div>
		<div class="modal-body">
			<p>Are you sure you want to <b>permanently</b> delete the selected assets?</p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Cancel</a>
			<a href="#" id="modal_confirm_delete_button" class="btn btn-danger"><i class="icon-trash icon-white"></i>Confirm Delete</a>
		</div>
	</div>
	
	<div class="modal hide" id="preview_modal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>Preview</h3>
		</div>
		<div class="modal-body">
		</div>
	</div>
	<script type="text/html" id="preview_modal_template">
		<img src="<%= url %>" alt="<%= filename %>" />
		<ul>
			<li><%= filename %></li>
			<li><%= size %></li>
			<li><%= width %>x<%= height %></li>
		</ul>
	</script>

{% endblock %}

{% block javascript %}
<script>
	var uploadURL = "{% url thunderchild.media_views.upload %}";
	var replaceURL = "{% url thunderchild.media_views.replace %}";
	var assetsURL = "{% url thunderchild.media_views.assets %}";
</script>
{% if debug %}
	<script src="{{ STATIC_URL }}thunderchild/js_src/media-upload-service.js"></script>
	<script src="{{ STATIC_URL }}thunderchild/js_src/media.js"></script>
{% else %}
	<script src="{{ STATIC_URL }}thunderchild/js/media-upload-service-min.js"></script>
	<script src="{{ STATIC_URL }}thunderchild/js/media-min.js"></script>
{% endif %}
{% endblock %}
