<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
	
	<head>
		<meta charset="utf-8">
    	<title>Media Chooser</title>
    	<meta name="robots" content="noindex">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" type="text/css" media="screen"/>
		{% if debug %}
			<link rel="stylesheet/less" href="{{ STATIC_URL }}thunderchild/css_src/thunderchild.less" type="text/css" media="screen"/>
			<script src="{{ STATIC_URL }}thunderchild/js/less-1.3.0.min.js"></script>
		{% else %}
			<link rel="stylesheet" href="{{ STATIC_URL }}thunderchild/css/thunderchild.css" type="text/css" media="screen"/>
		{% endif %}
		<script src="{{ STATIC_URL }}thunderchild/js/modernizr-2.5.3.min.js"></script>
	</head>
	
	<body class="media-chooser">		
		
		<section class="container">
			
			<a href="#" id="media_chooser_upload_button" class="btn">Upload</a>
			
			<ul id="media_chooser_thumbnails_list" class="thumbnails">
				{% for media_asset in media_assets%}
				<li class="span2">
					<a href="#" target="_blank">
						<div class="thumbnail" data-id="{{ media_asset.id }}" data-url="{{ media_asset.url }}">
							<img src="{{ media_asset.thumbnail_url }}" alt="media asset thumbnail" />
							<p>{{ media_asset.filename }}</p>
						</div>
					</a>
				</li>
				{% endfor %}
			</ul>
			
			{% if media_assets.paginator.num_pages > 1 %}
			<div class="pagination pagination-centered">
				<ul>
					{% if media_assets.has_previous %}
						<li><a href="?page={{ media_assets.previous_page_number }}">«</a></li>
					{% endif %}
					{% for num in media_assets.paginator.page_range %}
						{% ifequal media_assets.number num %}
							<li class="active"><a href="?page={{ num }}">{{ num }}</a></li>
						{% else %}
							<li><a href="?page={{ num }}">{{ num }}</a></li>
						{% endifequal %}
					{% endfor %}
					{% if media_assets.has_next %}
						<li><a href="?page={{ media_assets.next_page_number }}">»</a></li>
					{% endif %}
				</ul>
			</div>
			{% endif %}
		</section>
		
		{% include "thunderchild/includes/upload_modal.html" %}
				
				
		<script>
			var uploadURL = "{% url thunderchild.media_views.upload %}";
			var replaceURL = "{% url thunderchild.media_views.replace %}";
			var assetsURL = "{% url thunderchild.media_views.assets %}";
		</script>
		<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="{{ STATIC_URL }}thunderchild/js/jquery-1.7.2.min.js"><\/script>')</script>
		<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
		<script src="{{ STATIC_URL }}thunderchild/js/plugins.js"></script>
		
		{% if debug %}
		<script src="{{ STATIC_URL }}thunderchild/js_src/media-upload-service.js"></script>
		<script src="{{ STATIC_URL }}thunderchild/js_src/media-chooser.js"></script>
		{% else %}
		<script src="{{ STATIC_URL }}thunderchild/js/media-upload-service-min.js"></script>
		<script src="{{ STATIC_URL }}thunderchild/js/media-chooser-min.js"></script>
		{% endif %}
	</body>
	
</html>