{% extends "thunderchild/base.html" %}

{% block content %}
		
		
		<header>
			<h1>Settings</h1>
		</header>
		
		<form action="{% url thunderchild.views.site_settings %}" method="post">{% csrf_token %}
			{% for field in form %}
				{% if not field.is_hidden %}
				<div class="accordion-group">
						<div class="field_label_holder" data-toggle="collapse" data-target="#form_fieldholder_{{ forloop.counter }}">
							{{ field.label_tag }}
							{% if field.errors %}<div class="alert alert-error">{{ field.errors }}</div>{% endif %}
						</div>
						<div id="form_fieldholder_{{ forloop.counter }}" class="collapse control-group field_holder {% if field.errors %}error{% endif %} {% if not field.field.field_collapsed_by_default %}in{% endif %}">
							{{ field }}
							{% if field.help_text %}<p class="help_text">{{ field.help_text }}</p>{% endif %}
						</div>
				</div>
				{% else %}
					{{ field }}
				{% endif %}
			{% endfor %}
			<div class="row">
				<div class="pull-right">
					<input class="btn" type="submit" value="Save" />
				</div>
			</div>
		</form>
		
		
{% endblock %}

