{% extends "thunderchild/_page.html" %}

{% block title %}Templates{% endblock %}
{% block title_bar_title %}Templates{% endblock %}
{% block content_classes %}templates{% endblock %}


{% block action_bar %}
<a id="create-templategroup-button" href="#" class="btn btn-primary">Create Template Group</a>
<ul class="pull-right">
	<li>
		<a id="delete-template-button" href="#" class="btn btn-mini btn-link">Delete Template</a>
	</li>
	<li>
		<a id="save-template-button" href="#" class="btn btn-primary">Save Template</a>
	</li>
</ul>
{% endblock %}


{% block content %}
	<div id="template-browser">
		<ul>
			{% for t in templates %}
			<li data-id="{{ t.templategroup.id }}">
				<div class="group-header collapsed clearfix" data-toggle="collapse" data-target="#template-group-{{ t.templategroup.id }}">
					<i class="chevron"></i>
					{% if t.templategroup.templategroup_short_name == "root" %}
					<h3><em>{{ t.templategroup.templategroup_short_name }}</em></h3>
					<ul class="controls pull-right">
						<li><a href="#" class="new-template-button"><i class="icon-plus icon-white"></i></a></li>
					</ul>
					{% else %}
					<h3>{{ t.templategroup.templategroup_short_name }}</h3>
					<ul class="controls pull-right">
						<li><a href="#" class="edit-templategroup-button"><i class="icon-cog icon-white"></i></a></li>
						<li><a href="#" class="new-template-button"><i class="icon-plus icon-white"></i></a></li>
					</ul>
					{% endif %}
				</div>
				<ul id="template-group-{{ t.templategroup.id }}" class="collapse">
				{% for template in t.templates %}
					{% spaceless %}
					{% if template.template_short_name == 'index' %}
					<li data-id="{{ template.id }}" data-is-index="1">
						<a href="#"><em>{{ template.template_short_name }}</em></a>
					</li>
					{% else %}
					<li data-id="{{ template.id }}">
						<a href="#">{{ template.template_short_name }}</a>
					</li>
					{% endif %}
					{% endspaceless %}
				{% endfor %}
				</ul>
			</li>
			{% endfor %}
		</ul>
	</div>
	<script id="templategroup-list-item-template" type="text/html">
		<li data-id="<%= id %>">
			<div class="group-header clearfix" data-toggle="collapse" data-target="#template-group-<%= id %>">
				<i class="chevron"></i>
				<h3><%= templategroup_short_name %></h3>
				<ul class="controls pull-right">
					<li><a href="#" class="edit-templategroup-button"><i class="icon-cog icon-white"></i></a></li>
					<li><a href="#" class="new-template-button"><i class="icon-plus icon-white"></i></a></li>
				</ul>
			</div>
			<ul id="template-group-<%= id %>" class="collapse in"></ul>
		</li>
	</script>
	<script id="template-list-item-template" type="text/html">
		<li data-id="<%= id %>"><a href="#"><%= template_short_name %></a></li>
	</script>
		
	<div id="template-view">
		<ul class="nav nav-tabs" id="tabs">
		  <li class="active"><a href="#editor-pane">Editor</a></li>
		  <li><a href="#settings-pane">Settings</a></li>
		</ul>
		
		<div id="preview-link-holder">
			<p class="preview-url"><span class="template-dynamic-url">{{ absolute_dynamic_url }}</span><span class="template-uid"></span></p>
			<input class="preview-url-parameters" type="text" />
			<a id="preview-template-button" href="#" target="_blank" class="btn btn-mini">Preview</a>
		</div>
		
		<div class="tab-content">
			<div id="editor-pane" class="tab-pane active">
				<a id="media_chooser_button" href="#" class="btn btn-mini"><i class="icon-picture"></i> Media Chooser</a>
				<pre id="editor"></pre>
			</div>
			<div id="settings-pane" class="tab-pane">
				<form id="settings-form">
					{% for field in template_form %}
						{% if not field.is_hidden %}
							<div id="{{ field.html_name|slugify }}-field-group" class="field-group">
								<div class="field-label-holder">
									{% if field.field.required %}<span class="required">* </span>{% endif %}{{ field.label_tag }}
								</div>
								<div class="field-holder">
									{{ field }}
									{% if field.help_text %}
										<p class="help-text">{{ field.help_text }}</p>
									{% endif %}
								</div>
							</div>
						{% else %}
							{% if field.label != 'Content' %}
								{{ field }}
							{% endif %}
						{% endif %}
					{% endfor %}
				</form>
			</div>
		</div>
	</div>
	<script id="form-error-template" type="text/html">
		<div class="alert alert-error"><ul class="errorlist"><%= errors %></ul></div>
	</script>
		
{% endblock %}

{% block post_content %}
<div class="modal hide" id="create-template-modal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Create Template</h3>
	</div>
	<div class="modal-body">
		<form action="#" method="post">
			<div class="field-holder">
				{{ new_template_form.template_short_name.label_tag }}
				{{ new_template_form.template_short_name }}
				<p class="help-text">{{ new_template_form.template_short_name.help_text }}</p>
			</div>
			<div class="field-holder">
				{{ new_template_form.template_content_type.label_tag }}
				{{ new_template_form.template_content_type }}
				<p class="help-text">{{ new_template_form.template_content_type.help_text }}</p>
			</div>
			<div class="field-holder">
				{{ new_template_form.template_is_private.label_tag }}
				{{ new_template_form.template_is_private }}
				<p class="help-text">{{ new_template_form.template_is_private.help_text }}</p>
			</div>
			{{ new_template_form.templategroup }}
		</form>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Cancel</a>
		<a href="#" class="btn btn-primary" id="create-template-button">Create</a>
	</div>
</div>

<div class="modal hide" id="delete-template-modal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Confirm Delete</h3>
	</div>
	<div class="modal-body">
		<p>Are you sure you want to <b>permanently</b> delete this template?</p>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Cancel</a>
		<a href="#" class="btn btn-danger" id="confirm-delete-template-button">Delete</a>
	</div>
</div>

<div class="modal hide" id="create-templategroup-modal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Create Template Group</h3>
	</div>
	<div class="modal-body">
		<form action="#" method="post">
			<div class="field-holder">
				{{ new_templategroup_form.templategroup_short_name.label_tag }}
				{{ new_templategroup_form.templategroup_short_name }}
				<p class="help-text">{{ new_templategroup_form.templategroup_short_name.help_text }}</p>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Cancel</a>
		<a href="#" class="btn btn-primary" id="create-templategroup-button">Create</a>
	</div>
</div>

<div class="modal hide" id="edit-templategroup-modal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Edit Template Group</h3>
	</div>
	<div class="modal-body">
		<form action="#" method="post">
			{% for field in edit_templategroup_form %}
			<div class="field-holder">
				{{ field.label_tag }}
				{{ field }}
				<p class="help-text">{{ field.help_text }}</p>
			</div>
			{% endfor %}
		</form>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Cancel</a>
		<a href="#" class="btn btn-danger" id="delete-templategroup-button">Delete</a>
		<a href="#" class="btn btn-primary" id="save-templategroup-button">Save</a>
	</div>
</div>

<div class="modal hide" id="delete-templategroup-modal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Confirm Delete</h3>
	</div>
	<div class="modal-body">
		<p>Are you sure you want to <b>permanently</b> delete this template group and all templates contained within it?</p>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Cancel</a>
		<a href="#" class="btn btn-danger" id="confirm-delete-templategroup-button">Delete</a>
	</div>
</div>

{% include 'thunderchild/includes/media_chooser_modal.html' %}
{% endblock %}

{% block javascript %}
	<script>
	// Set paths needed by templates.js
	var templateRoot = "{% url thunderchild.template_views.template_create %}";
	var templateGroupRoot = "{% url thunderchild.template_views.group_create %}";
	</script>
	<script src="{{ STATIC_URL }}thunderchild/js/lib/ace/ace.js"></script>
	<script src="{{ STATIC_URL }}thunderchild/js/lib/ace/theme-twilight.js"></script>
	<script src="{{ STATIC_URL }}thunderchild/js/lib/ace/mode-html.js"></script>
	{% if debug %}
		<script data-main="{{ STATIC_URL }}thunderchild/js_src/templates-app.js" src="{{ STATIC_URL }}thunderchild/js_src/lib/require.js"></script>
	{% else %}
		<script data-main="{{ STATIC_URL }}thunderchild/js/templates-app.js" src="{{ STATIC_URL }}thunderchild/js/lib/require.js"></script>
	{% endif %}
{% endblock %}